[Unit]
Description=awesome deamon
After=multi-user.target

[Service] 
Type=simple 
ExecStart=/usr/bin/bash -c 'cd /srv/awesome/www && source evn/bin/acitvate && python app.py'
Restart=on-failure

[Install]
WantedBy=multi-user.target
