[Unit]
Description=awesome deamon
After=awesome.service
[Service]
Environment="PATH=/srv/awesome/env/bin"
Type=simple
User=root
Group=root
WorkingDirectory=/srv/awesome
ExecStart=/usr/bin/python /www/app.py
Restart=always

[Install]
WantedBy=multi-user.target
