{% extends '__base__.html' %}

{% block title %}编辑日志{% endblock %}

{% block beforehead %}

{% endblock %}

{% block content %}

<div class="uk-width-1-1 uk-margin-bottom">
  <div class="uk-panel uk-panel-box">
    <ul class="uk-breadcrumb">
      <li><a href="/manage/comments">评论</a></li>
      <li><a href="/manage/blogs">日志</a></li>
      <li><a href="/manage/users">用户</a></li>
    </ul>
  </div>
</div>

<div id="error" class="uk-width-1-1">
</div>

<div id="loading" class="uk-width-1-1 uk-text-center">
  <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
</div>

<div id="vm" class="uk-width-2-3">
  <form class="uk-form uk-form-stacked">
    <div class="uk-alert uk-alert-danger " v-show="message">
      <pan v-html="message"></pan>
    </div>
    <div class="uk-form-row">
      <label class="uk-form-label">标题:</label>
      <div class="uk-form-controls">
        <input v-model.trim="blog.name" name="name" type="text" placeholder="标题" class="uk-width-1-1">
      </div>
    </div>
    <div class="uk-form-row">
      <label class="uk-form-label">摘要:</label>
      <div class="uk-form-controls">
        <textarea v-model.trim="blog.summary" rows="4" name="summary" placeholder="摘要" class="uk-width-1-1"
          style="resize:none;"></textarea>
      </div>
    </div>
    <div class="uk-form-row">
      <label class="uk-form-label">内容:</label>
      <div class="uk-form-controls">
        <textarea v-model.trim="blog.content" rows="16" name="content" placeholder="内容" class="uk-width-1-1"
          style="resize:none;"></textarea>
      </div>
    </div>
    <div class="uk-form-row">
      <button type="submit" class="uk-button uk-button-primary" @click="submit"><i class="uk-icon-save"></i>
        保存</button>
      <a href="/manage/blogs" class="uk-button"><i class="uk-icon-times"></i> 取消</a>
    </div>
  </form>
</div>
<script>
  const ab = {
    data() {
      return {
        message: '',
        blog: {
          name: '',
          summary: '',
          content: ''
        }
      }
    },
    methods: {
      validate(b) {
        if (!b.name) {
          this.message = 'Please input title'
          return false
        }
        if (!b.summary) {
          this.message = 'Please input summary'
          return false
        }
        if (!b.content) {
          this.message = 'Please input content'
          return false
        }
        return true
      },
      submit(event) {
        event.preventDefault()
        const valid = this.validate(this.blog)
        console.log('valid:', valid)
        if (valid) {
          const b = { ...this.blog }
          fetch('/api/blogs', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json;charset=utf-8' },
            body: JSON.stringify(b)
          }).then(res => {
            console.log('b:', res)
            location.assign('/api/blogs/' + res.id)
          })
        } else {
          return
        }
      }
    }
  }
  Vue.createApp(ab).mount('#vm')
</script>
{% endblock %}