{%extends '__base__.html' %}
{% block title %}Logs{% endblock %}
{% block beforehead %}
{%endblock%}
{% block content %}

<div class="uk-width-1-1 uk-margin-bottom">
  <div class="uk-panel uk-panel-box">
    <ul class="uk-breadcrumb">
      <li><a href="/manage/comments">评论</a></li>
      <li class="uk-active"><span>日志</span></li>
      <li><a href="/manage/users">用户</a></li>
    </ul>
  </div>
</div>

<div id="error" class="uk-width-1-1">
</div>

<div id="loading" class="uk-width-1-1 uk-text-center">
  <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
</div>

<div id="vm" class="uk-width-1-1">
  <a href="/manage/blogs/create" class="uk-button uk-button-primary"><i class="uk-icon-plus"></i> 新日志</a>

  <table class="uk-table uk-table-hover">
    <thead>
      <tr>
        <th class="uk-width-5-10">标题 / 摘要</th>
        <th class="uk-width-2-10">作者</th>
        <th class="uk-width-2-10">创建时间</th>
        <th class="uk-width-1-10">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="blog in blogs">
        <td>
          <a target="_blank" :href="'/blog/'+blog.id" v-text="blog.name"></a>
        </td>
        <td>
          <a target="_blank" :href="'/user/'+blog.user_id" v-text="blog.user_name"></a>
        </td>
        <td>
          <span v-text="blog.created_at.toDateTime()"></span>
        </td>
        <td>
          <a href="#0" @click="editBlog(blog)"><i class="uk-icon-edit"></i>
            <a href="#0" @click="deleteBlog(blog)"><i class="uk-icon-trash-o"></i>
        </td>
      </tr>
    </tbody>
  </table>

  <div v-component="pagination" v-with="page"></div>
</div>

<script>
  const ab = {
    setup(props) {
      console.log('props:', props)
      let d = []
      let p = {}
      const getBlogs = async () => {
        const data = await fetch('/api/blogs', { page }).then(res => res.json())
        console.log('blogs:', data)
        d = data.blogs
        p = data.page
      }
      onMounted(getBlogs)
      return { d, p, getBlogs }
    },
    data() {
      return {
        blogs: this.b,
        page: this.p
      }
    },
    methods: {
      async getBlogs1(page = 0) {
        const data = await fetch('/api/blogs', { page }).then(res => res.json())
        console.log('blogs:', data)
        this.blogs = data.blogs
        this.page = data.page
      },
      editBlog(blog) {
        location.assign('/manage/blogs/edit?id=' + blog.id)
      },
      deleteBlog(blog) {
        if (confirm(`Confirm to delete ${blog.name}? Can not undo after deleted.`)) {
          fetch(`/api/blogs/${blog.id}/delete`, { method: 'POST', headers: { 'Content-Type': 'application/json;charset=utf-8' } }).then(res => {
            console.log('deleted:', res)
          })
        }
      }
    },
    mounted() {
      console.log('this:', this)
      this.getBlogs()
    }
  }
  Vue.createApp(ab).mount('#vm')
</script>

{% endblock %}